/****** General *******/
html, body {
    font-size:100%;
}

strong {
    font-weight: 700;
}

.logo {
    height: 100px;
    width: 100px;
}

.container {
    padding: 0 15px 0 15px;
}
/** disable pointers **/
.check:disabled {
    cursor: not-allowed;
}
#numInput:disabled {
    cursor: not-allowed;
}

#datepicker:disabled {
    cursor: not-allowed;
}
.ui-datepicker-trigger:disabled {
    cursor: not-allowed;
}

#header-top {
    margin-top: 40px;
}
#legend-instruct {
    display: block;
    margin-bottom: 10px;
}
.clear {
    clear: both;
}
.block {
    display: block;
}

.long-list {
    padding-bottom: 10px;
}

.pad-top {
    padding-top: 10px;
}

/*** getting rid of default firefox focus element ***/
button::-moz-focus-inner {
    border: none;
}

/*button::-moz-focus-outer {*/
    /*outline:3px solid #5fa3e6;*/
/*}*/

/** this is not backwards compatible unfortunately **/
:-moz-focusring {
    outline:3px solid #5fa3e6;
}
input[type="range"]:-moz-focusring {
    outline:none;
}
input[type="checkbox"]::-moz-focus-outer {
    border: 1px solid #000000;
}

input[type="radio"]::-moz-focus-outer {
    border: 1px solid #000000;
}

/******** focus on input type = checkbox and input = radio on focus ***********/
/******** take not that this is not implemented in all browsers ********/
input[type="checkbox"]:focus {
    outline: rgb(68,70,74) solid 2px;
}

input[type="radio"]:focus {
    outline: rgb(68,70,74) solid 2px;
}

/******** Remove border from fieldset **********/
.fieldset-no-border {
    border:0;
}

/******** Style textarea **********/
#quote-response {
    width: 80%;
}

#otherConnections {
    width:50%;
    margin-bottom: 10px;
}
/******* 03 single Select gird *********/
.grid-selection-options {
    padding:0;
    border:0;
    width:100%;
    margin:0;
}
.first {
    margin-left:25%;
}
.single-selection {
    width:24%;
    text-align: center;
    display: inline-block;
}

.gird-question {
    width:25%;
    display: inline-block;
    float: left;
    margin:0;
    padding:0;
    border:0;

}
.option {
    width: 24%;
    padding:0;
    margin:0;
    border:0;
    display: inline-block;
    text-align: center;
}

.question-block {
    width:100%;
    margin:0;
    padding:0;
}
/******* 05-multiple-select-grid *******/
.horizontal-grid {
    width: 100%;
    margin:0;
    padding: 0;
}

.company {
    width:19%;
    display: inline-block;
    padding:0;
    margin:0;
    border:0;
    text-align: center;
}

.first-item {
    margin-left:40%;
}

.horizontal-grid-legend {
    width:40%;
    float: left;
}

.desktop-hide {
    display: none;
}
/******* question 12 - take note if you change the labelling of this question to longer text, you need to add a longer width  *********/
.label-multi {
    width:15%;
    display: inline-block;
}

/************ likert scale, also used in grid with multiple rows *********/
.likert-header {
    background: #c0c0c0;
    margin-top: 20px;
}
.likert-header ul {
    list-style-type: none;
    width:100%;
    padding-left:0;
}
.likert-section {
    width:20%;
    display: inline-block;
    text-align: center;
    float: left;
}


.likert-inputs {
    clear: both;
}
/****** Question 13, 14, 15 placeholder-image *****/
.placeholder-image {
    width: 100%;
    height:60vh;
    background-color: lightgray;
    margin-bottom: 20px;;
}
/***** large textarea *****/
.lg-textarea {
    width:60%;
}

/********* input = range aka slider ************/
#satisfaction {
    width:50%;
    cursor: pointer;
}
.number-list {
    width:50%;
}
.slider-label {
    width:20%;
    display: inline-block;
    text-align: center;
    float: left;
}
.slider-label:first-child {
    text-align: left;
}
.slider-label:last-child {
    text-align: right;
    float: right;
}

/********** input = range output field  **********/
#rangeOutput {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    font-weight: 700;
    padding: 5px 10px;
}

/********** Error messages: remember color contrast must be 4.5:1 ************/
.errorMsg {
    /*background-color: rgb(187,8,38);*/
    /*color: #ffffff;*/
    color: rgb(187, 8, 38);
    font-weight:bold;
    clear: both;
}

/********** Button **********/
.button {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    text-decoration: none;
    margin-top: 40px;
}

.default {
    text-decoration: none;
    color: #000;
    background-color: #d3d3d3;
}

.purple {
    color: #ffffff;
    background-color: rgb(77,59,101);
}

/***** 16 ******/
.radio-group {
    width:100%;
    margin: 0;
    padding:0;
    border:0;
}
.ind-radio {
    display: inline-block;
    text-align: center;
    width:20%;
    margin:0;
    padding:0;
    border:0;
    float: left;
}
.ind-radio input {
    display: block;
    text-align: center;
    margin:auto;
}
/**** Toggle Switch *****/
.toggle-btn-group label {
    padding: .5em;
    display: inline-block;
    width: 8em;
    height: 40px;
    float: left;
    text-align: center;
    cursor: pointer;
    color: #000;
    background-color: #ffffff;
    border: rgb(68,70,74) 2px solid;
}

.toggle-btn-group input[type="radio"]:checked+label {
    background-color: rgb(0, 115, 55);
    border: rgb(68,70,74) 2px solid;
    /*color: #000;*/
    color: #ffffff;
}
.toggle-btn-group input[type="radio"]:focus+label {
    outline: 2px #999 dotted;
}

.toggle-btn-group label:hover,
.toggle-btn-group label:focus {
    background-color: #ccc;
    border: #000 2px solid;
    color: #000;
}
/* hide visually */
.accessAid {
    position: absolute!important;
    clip: rect(1px,1px,1px,1px);
    overflow: hidden;
}

/* clear float */
.clearfix {
    content: "";
    display: table;
    clear: both;
}
/************ Bold Line ***********/
.line {
    height: 1px;
    background-color: rgb(68,70,74);
    margin-bottom: 20px;
}

/********* 19 multiple dropdown question ***********/
.dropdown-grid {
    margin:0;
    width:20%;
    display: inline-block;
}
/************ 11 styling - note: if label text is longer than provided you need to account for this in width *************/
.multi-number-label {
    width:15%;
    display: inline-block;
}
#percent-sum {
    text-align: center;
}
.total-Sum {
    margin-left:20%;
}


/**** Question 15 new version *****/
.fruits {
    width:100%;
    margin:0;
    padding:0;
    border:0;
}
.ind-fruit {
    width:20%;
    display: inline-block;
    text-align: center;
    margin:0;
    padding: 0;
    border:0;
    float: left;
}
.ind-fruit input {
    display: block;
    margin:auto;
}
.ind-fruit label {
    display: block;
    text-align: center;
}
.ind-fruit img {
    width: 125px;
    height: 125px;
}
/******* Date picker - question 10 *********/
#datepicker {
    margin: 0;
    padding: 0;
    height: 25px;
    vertical-align: bottom;
}
.ui-datepicker-trigger {
    margin: 2px;
    padding: 0;
    vertical-align: bottom;
}
.ui-datepicker-trigger img{
    width: 25px;
    height: 25px;
}
.offscreen {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
    margin: 0;
    padding: 0;
}
button.ui-datepicker-trigger {
    background-color:transparent !important;
    border:none !important;
    margin:auto !important;
}
button.ui-datepicker-trigger:focus,
button.ui-datepicker-trigger:hover,
button.ui-datepicker-trigger:active {
    border:none !important;
    margin:auto !important;
    outline:2px solid #8cc63f !important;
    background-color:#fdf6e7 !important;
}
/******* Responsive Design ofr inputs ************/
@media only screen
and (min-width: 320px)
and (max-width: 480px)
 {
    input[type=text], input[type=url], input[type=email], input[type=password], input[type=tel], input[type=range] select {
        -webkit-appearance: none;
        -moz-appearance: none;
        display: block;
        margin: 0;
        width: 100%;
        height: 40px;
        line-height: 40px;
        /*font-size: 17px;*/
    }
    #satisfaction {
        width:100%;
        display: block;
        margin:0;
    }
    select.age-demographic {
        display: block;
        width:100%;
    }
    input[type=checkbox] {
        /*width: 22px;*/
        /*height: 22px;*/
        /*-webkit-border-radius: 22px; -moz-border-radius: 22px; border-radius: 22px;*/
        /*border: 1px solid #bbb;*/
    }

    button[type=submit] {
        -webkit-appearance: none; -moz-appearance: none;
        display: block;
        margin: 1.5em 0;
        font-size: 1em;
        line-height: 2.5em;
        font-weight: bold;
        height: 2.5em;
        width: 100%;
    }
    .default {
        display: block;
        margin:auto;
    }
    textarea.lg-textarea {
        width:100%;
        margin: 0 auto;
    }
    /***** 03-select-grid ***/
    .option {
        display: block;
        width: 100%;
        text-align: left;
    }
    .option label {
        display: inline-block;
    }
    .grid-selection-options {
        display: none;
    }
    .gird-question {
        width:100%;
        /*display: block;*/

    }

    /**** 05-multi-grid ****/
    .company {
        display: block;
        width: 100%;
        text-align: left;
    }
    .company label {
        display: inline-block;
    }
    .horizontal-grid {
        display: none;
    }
    .horizontal-grid-legend {
        width:100%;
    }

    /******* dropdown-grid class *******/
    .dropdown-grid {
        width: 100%;
        display: block;
        margin:0;
        padding:0;
    }


    .multi-drop {
        display: block;
        width:100%;
        height: 40px;
    }

    #age-demographic {
        display: block;
        width:100%;
        height: 40px;
    }

    #month, #day, #year {
        display: block;
        width:100%;
        height: 40px;
    }

    /* question 16 individual radio */
    .ind-radio {
        display: block;
        width:100%;
        text-align: left;
    }
    .ind-radio input {
        display: inline-block;
    }
    /* Question 11 */
    .multi-number-label {
        width:50%;
    }
    .toAdd {
        width:20%;
    }
    .total-Sum {
        margin-left:50%;
    }
    .label-multi {
        display: block;
        width: 100%;
    }
    /* Question 15 */
    .ind-fruit {
        width: 50%;
        margin:auto;
    }

    .ind-fruit img {
        width: 100px;
        height: 100px;
    }

    .fruits-2 {
        width:50%;
        margin:auto;
    }
    /* 12 rankings */
    .rankings {
        width:100%;
        height: 40px;
        line-height: 40px;
    }
    .number-list {
        width:100%;
    }
    #datepicker {
        width:80%;
        display: inline-block;
    }
    /** Question 17 - slider **/
    input#satisfaction {
        width:80%;
        display: inline-block;
    }
    .number-list {
        width:80%;
    }


} /* end of first media query */