/****** General *******/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

html, body {
    font-size:100%;
    font-family: 'Open Sans', sans-serif;
}

strong {
    font-weight: 700;
}

.logo {
    height: 100px;
    width: 100px;
}

::selection {
    background: rgb(187,8,38);
    color: #ffffff;
}

::-moz-selection {
    background: rgb(187,8,38);
    color: #ffffff;
}

.container {
    padding: 0 15px 0 15px;
}

#header-top {
    margin-top: 40px;
}

/******** focus on input type = checkbox and input = radio on focus ***********/
input[type="checkbox"]:focus {
    outline: rgb(68,70,74) solid 2px;
}

input[type="radio"]:focus {
    outline: rgb(68,70,74) solid 2px;
}

/******** Remove border from fieldset **********/
.fieldset-no-border {
    border:0;
}

/******** Style textarea **********/
#quote-response {
    width: 80%;
}

#otherConnections {
    width:50%;
    margin-bottom: 10px;
}

/************ likert scale, also used in grid with multiple rows *********/
.likert-header {
    background: #c0c0c0;
    margin-top: 20px;
}
.likert-header ul {
    list-style-type: none;
    width:100%;
    padding-left:0;
}
.likert-section {
    width:20%;
    display: inline-block;
    text-align: center;
    float: left;
}


.likert-inputs {
    clear: both;
}


/********* input = range aka slider ************/
#years-worked {
    width:50%;
    margin-left:10px;
}

/********** input = range output field  **********/
#rangeOutput {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    font-weight: 700;
    padding: 5px 10px;
}

/********** Error messages: remember color contrast must be 4.5:1 ************/
.errorMsg {
    /*background-color: rgb(187,8,38);*/
    /*color: #ffffff;*/
    color: rgb(187, 8, 38);
    /*border:1px solid rgb(187, 8, 38);*/
    /*border-color: #ffffff;*/
    font-weight:bold;
    clear: both;
}

/********** Button **********/
.button {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.dark-plum {
    color: #ffffff;
    background-color: rgb(77,59,101);
}

/************ Bold Line ***********/
.line {
    height: 1px;
    background-color: rgb(68,70,74);
    margin-bottom: 20px;
}

/********* 19 multiple dropdown question ***********/
.dropdown-grid {
    margin:0;
    width:20%;
    display: inline-block;

}

/******* Responsive Design ofr inputs ************/
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
 {
    input[type=text], input[type=url], input[type=email], input[type=password], input[type=tel], select {
        -webkit-appearance: none;
        -moz-appearance: none;
        display: block;
        margin: 0;
        width: 100%;
        height: 40px;
        line-height: 40px;
        /*font-size: 17px;*/
        /*border: 1px solid #bbb;*/
    }

    input[type=checkbox] {
        /*width: 22px;*/
        /*height: 22px;*/
        /*-webkit-border-radius: 22px; -moz-border-radius: 22px; border-radius: 22px;*/
        /*border: 1px solid #bbb;*/
    }

    button[type=submit], #begin {
        -webkit-appearance: none; -moz-appearance: none;
        display: block;
        margin: 1.5em 0;
        font-size: 1em;
        line-height: 2.5em;
        font-weight: bold;
        height: 2.5em;
        width: 100%;
    }
    input[type=range] {
        display: block;
        width: 80%;
    }


    textarea {
        width:100%;
        margin: 0 auto;
    }

} /* end of first media query */